h1 {
    font-family: 'Courier New', Courier, monospace;
    background-color: #B73E3E;
    color: #EDDBC0;
    text-align: center;
}

ul a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    color: #DD5353;
    font-weight: 800;
}